.panel{
	-fx-border-color: #808080;
	
}
.root{
	-fx-border-radius: 25.0;
}

.products{
	
		-fx-border-size:10.0;
	    -fx-background-color: #EEEEEE;
        -fx-background-radius: 20.0;
        -fx-border-color:#FFFFFF;
        -fx-background-position: center;
        -fx-outer-border: white;
  		-fx-body-color: linear-gradient(to bottom, #DD0000, #00FF00);
  		-fx-background-color:
       	-fx-outer-border,
       	-fx-body-color;
         -fx-background-insets: 0.0, 4.0;
          -fx-background-repeat: no-repeat;
 
        
}
.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0.0,0.0,0.0,0.0), 10.0 , 0.0 , 0.0 ,10.0);
}

.itemSearch{

    -fx-border-radius: 0px;
    -fx-border-color: #C0C0C0;
}
.itemSearch:hover{
    -fx-background-color: #CCFF99;
}
.text-Resultsearch{
    -fx-font: italic small-caps bold 16px/2 cursive;
}
.purchaseProduct{
    -fx-border-radius: 1%;
    -fx-border-color: #B0C1D9;
}
.purchaseProduct:hover{
    -fx-background-radius: 1%;
    -fx-background-color: #FFCC99;
    -fx-border-color: green;
}
.purchaseProduct:focused{
    -fx-background-color: red;
    -fx-opacity: 0.5;
    -fx-border-radius: 1%;
    -fx-border-color: white;
}
.item-product-ofBanHang{
    -fx-background-color: #e3e2e2;
    -fx-border-radius:20;
    -fx-background-radius: 20px;
    -fx-border-color:red;
}
.item-product-ofBanHang:hover{
    -fx-background-color: #faf6f3;
}

#myshop{
    -fx-font: italic small-caps bold 26px/2 cursive;
    -fx-stroke: #5cec5c;	/* được sử dụng để thiết lập màu cho viền */
    -fx-stroke-width: 2px;	/* Thiết lập độ rộng của viền */
    -fx-stroke-type: OUTSIDE;	/* được sử dụng để tạo ra viền bên ngoài văn bản. */
}
#myshop:hover{

    -fx-text-fill: #ffffff;
    -fx-stroke: #1303d7;
    -fx-stroke-width: 1px;
}

.item-cart{
    -fx-background-color: white;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: red;
}
.item-cart:hover{
    -fx-background-color: #fcf9cf;
    -fx-border-color: #3a26d4;
}
.item-cart-btndelete:hover{
    -fx-text-fill: green;
}

.item-messenge:hover{
    -fx-background-color: #e1fbfc;
    -fx-border-color: #c71ac9;

}




