.click{

	-fx-border-color: #808080;
	-fx-background-color:  #D6E0E5	;
}

.click:hover{
	-fx-background-color: #FFCCCC;
}
.click:pressed{
	-fx-background-color: red;

}
.itemCategory{
	font: italic small-caps bold 12px/2 cursive;
}
