.dichuot:hover{
	-fx-background-color: red;
}
.button{
	-fx-background-radius: 5;
	-fx-background-color: #AEA2C5;
	
}

.button:hover{
	-fx-background-color: green;
}
/*Khi nhấn vào thì nó sẽ đổi màu: kiểu báo hiệu cho mình biết đã click vào đâu */
.dichuot:pressed{
	-fx-background-color: #3333CC;
}
.register:hover
{
	-fx-text-fill: white;
}
.register:pressed{
	-fx-text-fill: green;
}
.convert-login:hover
{
	-fx-text-fill: #d981eb;
}
.convert-login:pressed{
	-fx-text-fill: #fbfc8d;
}
